/** 
  * 自定义gitments样式 
*/
.gitment-comment-header {
    margin: 12px 15px;
    color: #666;
    background-color: #eaeaea !important;
    border-radius: 3px;
}

.left-col #header .font-color {
	color: #696969;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 60s infinite linear;
}